organization: # Name of your organization (mandatory)
  name: "My Organization"

database: # Database credentials, must match what you have in the docker-compose (mandatory)
  host: "postgresql"
  port: 5432
  name: "conduktor-console"
  username: "conduktor"
  password: "change_me"

admin: # Define the local admin for the initial setup (mandatory)
  email: admin@conduktor.io
  password: adminP4ss!

auth: # Define a local user (optional)
  local-users:
    - email: user@conduktor.io
      password: userP4ss!

monitoring: # Monitoring settings (optional)
  cortex-url: http://conduktor-monitoring:9009/
  alert-manager-url: http://conduktor-monitoring:9010/
  callback-url: http://conduktor-console:8080/monitoring/api/
  notifications-callback-url: http://localhost:8080

clusters: # Cluster and schema registry configuration (optional)
  - id: my-local-kafka-cluster
    name: My Local Kafka Cluster
    bootstrapServers: "kafka:19092"
    schemaRegistry:
      url: "http://schema-registry:8081"
#    kafkaConnects:
#      - url: http://kafka-connect:8083
#        name: full stack kafka connect

## on Opensearch dasboard, you can find the URL in the top right corner
# http://localhost:5601/app/management/data/index_management/indices
# http://localhost:5601/app/management/data/index_management/indices?_g=()
# http://[::1]:5601/app/dev_tools#/console (for dev tools)
# GET /wikimedia/_doc/Nnc7JZUB6VoOjNmlwfN5
#    {
#        "cluster_name": "docker-cluster",
#        "cluster_uuid": "Nnc7JZUB6VoOjNmlwfN5",
#        "version": {
#        "build_flavor": "oss",
#        "build_type": "docker",
#        "number"
#    }
}